/* Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Saira:ital@1&display=swap');

/* Asterisk wildcard - This is the same code used in the love running project I will use it to apply to my website */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* General Project Styles */
    font-family: 'saira', sans-serif;
}

/** Header **/

header a {
    text-decoration: none;
    color: white;
}

header {
    text-align: center;
    background-color: black;
    padding: 0 1rem;
    width: 100%;
    z-index: 99;
    text-decoration: none;
}

/** Main **/
main {
    /* Make main content take up any extra space to move and push down the footer to the bottom */
    flex: 1 0 auto;
    margin-top: 30px;
}

#logo {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
}

h2 {
    text-align: center;
}

.choice {
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.choice button {
    height: 50px;
    width: 80%;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 500;
    margin: auto;
    margin-bottom: 7px;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
}

.make-a-pick {
    display: block;
    height: auto;
    width: 320px;
    text-align: center;
}

.you-picked {
    display: flex;
    justify-content: center;
}

.section2 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.player1 {
    height: 350px;
    width: 350px;
    padding: 2px;
    margin: 0;
}

.computer {
    height: 350px;
    width: 350px;
    padding: 2px;
    margin: 0;
}

img {
    display: flex;
    width: 90%;
    height: 90%;
    padding-top: 5px;
    padding-bottom: 5px;

}

.you-picked h2 {
    margin-left: 100px;
    text-align: center;
}
/** Footer **/

footer {
    background-color: black;
}

#footer-writing {
    text-align: center;
    color: white;
    padding: 5px;
}

#footer-links {
    text-align: center;
    display: flex;
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 20px;
    justify-content: space-evenly;
}

i {
    font-size: 180%;
    color: white;
    margin: 20px;
}

body {
    color: black;
    display: block;
    justify-content: center;
    margin: auto;
}


/* media queries*/

@media screen and (max-width: 700px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    header {
        display: block;
    }


.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
}
.player1 {
    height: 350px;
    width: 350px;
    padding: 2px;
    margin-left: 45px;
}

.computer {
    height: 350px;
    width: 350px;
    padding: 2px;
    margin-left: 45px;
}
}